<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="26208Sanair96.RNSIT" Publisher="CN=C9188FBA-C97E-4BF4-BC70-C81514EDAFC3" Version="1.1.6.0" />
  <mp:PhoneIdentity PhoneProductId="7789d094-8a7d-4f8a-953e-57239eda7adc" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RNSIT</DisplayName>
    <PublisherDisplayName>Sanair96</PublisherDisplayName>
    <Logo>Assets\StoreLogo.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="idk.App">
      <uap:VisualElements DisplayName="RNSIT" Square150x150Logo="Square150x150Logo.jpg" Square44x44Logo="Square44x44Logo.png" Description="idk" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.jpg" />
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.jpg" Square310x310Logo="Assets\Square310x310Logo.jpg" Wide310x150Logo="Assets\Wide310x150Logo.jpg">
          <uap:TileUpdate Recurrence="daily" UriTemplate="http://www.rnsit.ac.in/images/logo.jpg" />
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.jpg" BackgroundColor="white" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="portraitFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>